body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* header */

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-link {
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}

.current {
  font-weight: 600;
}

.header-list-btn {
  display: flex;
  gap: 21px;
  margin-left: auto;
}

.header-btn {
  height: 42px;
  border-radius: 4px;
  font-weight: 600;
}

.header-btn-in {
  min-width: 105px;
  border: 1px solid #bcd0e5;
  background-color: transparent;
  color: #173a56;
}

.header-btn-up {
  min-width: 113px;
  border: none;
  background-color: #02897a;
  color: #fff;
}

/* hero */

.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text-wrap {
  width: 465px;
}

.hero-title {
  font-size: 40px;
  line-height: 1.5;
  width: 372px;
  margin-bottom: 18px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.55556;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn-start {
  min-width: 178px;
  height: 53px;
  border-radius: 4px;
  background-color: #02897a;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: #173a56;
}

.hero-btn-watch {
  min-width: 164px;
  height: 23px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
}

.hero-btn-watch:hover,
.hero-btn-watch:focus {
  color: #173a56;
}
/* product */
.product {
  padding: 50px 0;
}

.product-title {
  font-size: 32px;
  text-align: center;
  width: 535px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-item {
  width: calc((100% - 90px) / 4);
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.product-text {
  line-height: 1.625;
}

.product-btn {
  min-width: 175px;
  height: 53px;
  border-radius: 4px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  margin: 0 auto;
  display: block;
}

.product-btn:hover,
.product-btn:focus {
  background-color: #173a56;
  color: #a5ebe3;
}

/* managment */
.managment {
  padding: 50px 0;
}

.managment .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.managment-text-wrap {
  width: 486px;
}
.managment-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.managment-title-part {
  font-weight: 700;
  font-size: 32px;
}

.managment-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.managment-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.managment-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}

.managment-desc {
  line-height: 1.625;
}
